
.payBtn{
  background-color:#203fc7b3!important;
margin-top: 1rem!important;
transform: translateX(50%);
width: 50%;
text-align: center!important;
   padding: 0.5rem !important;
  
   border-radius: 30px;
 


}
  .payment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%!important;
    margin: auto;
     margin-top: 2rem;
     padding: 5%;
     background-color:rgb(32, 63, 199,0.7) ;
     border-radius: 30px;
   
  }
 
  .formSTYLE{
    margin: auto;
 
  }
  .card-element-container {
    margin-top: 2rem;
    height: 3rem;
    border-radius: 10px;

    background-color: #f1f1f1;
  }
 
 
 
 

